* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#root {
  width: 100vw;
}

:root {
  --bg-color: #161616;
  --primary-color: #d5fb41;
  --primary-text-color: #fff;
  --border-color: #c2d963;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
html {
  /* font-size: 100%; */
  font-size: 16px;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: #161616; */
  /* height: 100%; */
}

.app-wrapper {
  flex-grow: 1;
}
